<form action="/login" method="POST">
    <input type="text" name="username" placeholder="Username" required>
    <input type="password" name="password" placeholder="Password" required>
    <button type="submit">Login</button>
    <link rel="stylesheet" href="/css/style.css">

</form>
<a href="/signup">Don't have an account? Sign up here</a>
